@reference '../../scss/custom.scss';

.toggle {
    @apply flex justify-center rounded-lg;
}

.toggleButton {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background var(--ifm-transition-fast);
}

.toggleIcon {
    width: 1rem;
    height: 1rem;
}
