.footer {
    background-blend-mode: multiply;
    background-size: cover, 150px;

    a {
        cursor: pointer;
        transition:
            color 0.2s ease-in-out,
            fill 0.2s ease-in-out;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
            fill: rgba(255, 255, 255, 0.8);
            text-decoration: none;
        }
        & svg {
            fill: inherit;
        }
    }
}
